#post-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post_theme {
    font-size: 3rem;
}

/* 검색어 */

.hide {
    display: none !important;
  }
  
  .rel_search {
    display: flex;
    flex-direction: column;
    justify-content : space-around;
    border: 1px solid orange;
    border-radius: 12px;
   
  }
  
  
  .pop_rel_keywords {
    list-style: none;
    margin-right: 30%;
  
  }
  
  .pop_rel_keywords > li {
    line-height : 250%
  }