h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    color: rgba(252, 125, 7, 0.87);
}

.wrap {
    margin-top: 50px;
}

.signinup_form {
    width: 600px;
    height: 600px;
    border-radius: 10%;
    text-align: center;
    text-align: justify;
    border: 2px solid #000;
    background-color: #fff;
    margin: 150px auto;
    padding: 50px;
}

.button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#button_signin {
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 30px;
    margin-top: 30px;
    width: 98%;
}

#content {
    /* width: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardimg {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.margin-b {
    margin-bottom: 2px;
}