@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'S-CoreDream-3Light';
}

.wrap {
    margin-top: 50px;
}

.profile_wrap {
    margin: 100px 150px;
}

.profile_flex {
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    margin-bottom: 100px;
}

.profile_real {
    margin-left: 100px;
}

.signup_form {
    width: 600px;
    height: 700px;
    border-radius: 7%;
    text-align: center;
    text-align: justify;
    border: 2px solid #000;
    background-color: #fff;
    margin: 100px auto;
    padding: 50px;
}

.signin_form {
    width: 600px;
    height: 450px;
    border-radius: 10%;
    text-align: center;
    text-align: justify;
    border: 2px solid #000;
    background-color: #fff;
    margin: 200px auto;
    padding: 50px;
}

.button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#button_signin {
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 30px;
    margin-top: 30px;
    width: 98%;
}

#content {
    /* width: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardimg {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.margin-b {
    margin-bottom: 2px;
}

.change_pass_ment {
    color: black;
    font-size: 1rem;
    /* margin-top: 20px; */
}

.main_banner {
    width: 300vw;
    transition: transform 0.5s;
}

.main_banner_img {
    width: 100vw;
    float: left;
}

.main_banner_img img {
    width: 100%;
}

.content {
    margin: 50px 300px;
    text-align: center;
    line-height: 200%;
    animation: slide 2s ease-out;
    font-size: 1.2rem;
}

.pets div {
    height: 50px;
    display: flex;
    justify-content: center;
}

.btn_ {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 0.2rem outset orange;
    border-radius: 7px;
    padding: 0.5rem;
    width: 220px;
}

.btn_ button {
    margin: 0 5px;
}

@keyframes slide {
    from {
        margin-left: -300px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes backslide {
    from {
        opacity: 1;
    }
    to {
        margin-left: -300px;
        opacity: 0;
    }
}

@media (max-width: 1200px){
    .content{
        margin: 50px 50px;
    }
}